html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            div(class="mb-6")
                label(class="block mb-2 text-coolGray-800 font-medium", for="") Label for select
                div(class="relative")
                    select(class="appearance-none w-full py-3 px-4 text-coolGray-500 leading-tight placeholder-coolGray-500 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 border border-coolGray-200 rounded-lg shadow-xs", name="field-name")
                        option Option 1
                        option Option 2
                        option Option 3
                        option Option 4
                    div(class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700")
                        svg(class="fill-current h-4 w-4", xmlns="http://www.w3.org/2000/svg", viewbox="0 0 20 20")
                            path(d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z")
            section(class="overflow-hidden")
                div(class="relative bg-white overflow-hidden", style="background-image: url('flex-ui-assets/elements/pattern-white.svg'); background-position: center;")
                    div(class="bg-transparent")
                        nav(class="flex justify-between p-6 px-4")
                            div(class="flex justify-between items-center w-full")
                                div(class="w-1/2 xl:w-1/3")
                                    a(class="block max-w-max", href="#")
                                        img(class="h-8", src="flex-ui-assets/logos/flex-ui-green-light.svg", alt="")
                                div(class="w-1/2 xl:w-1/3")
                                    ul(class="hidden xl:flex xl:justify-center")
                                        li(class="mr-12")
                                            a(class="text-coolGray-500 hover:text-coolGray-900 font-medium", href="#") Product
                                        li(class="mr-12")
                                            a(class="text-coolGray-500 hover:text-coolGray-900 font-medium", href="#") Features
                                        li(class="mr-12")
                                            a(class="text-coolGray-500 hover:text-coolGray-900 font-medium", href="#") Resources
                                        li
                                            a(class="text-coolGray-500 hover:text-coolGray-900 font-medium", href="#") Pricing
                                div(class="w-1/2 xl:w-1/3")
                                    div(class="hidden xl:flex items-center justify-end")
                                        a(class="inline-block py-2 px-4 mr-2 leading-5 text-coolGray-500 hover:text-coolGray-900 bg-transparent font-medium rounded-md", href="#") Log In
                                        a(class="inline-block py-2 px-4 text-sm leading-5 text-green-50 bg-green-500 hover:bg-green-600 font-medium focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 rounded-md", href="#") Sign Up
                            button(class="navbar-burger self-center xl:hidden")
                                svg(width="35", height="35", viewbox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    rect(class="text-coolGray-50", width="32", height="32", rx="6", fill="currentColor")
                                    path(class="text-coolGray-500", d="M7 12H25C25.2652 12 25.5196 11.8946 25.7071 11.7071C25.8946 11.5196 26 11.2652 26 11C26 10.7348 25.8946 10.4804 25.7071 10.2929C25.5196 10.1054 25.2652 10 25 10H7C6.73478 10 6.48043 10.1054 6.29289 10.2929C6.10536 10.4804 6 10.7348 6 11C6 11.2652 6.10536 11.5196 6.29289 11.7071C6.48043 11.8946 6.73478 12 7 12ZM25 15H7C6.73478 15 6.48043 15.1054 6.29289 15.2929C6.10536 15.4804 6 15.7348 6 16C6 16.2652 6.10536 16.5196 6.29289 16.7071C6.48043 16.8946 6.73478 17 7 17H25C25.2652 17 25.5196 16.8946 25.7071 16.7071C25.8946 16.5196 26 16.2652 26 16C26 15.7348 25.8946 15.4804 25.7071 15.2929C25.5196 15.1054 25.2652 15 25 15ZM25 20H7C6.73478 20 6.48043 20.1054 6.29289 20.2929C6.10536 20.4804 6 20.7348 6 21C6 21.2652 6.10536 21.5196 6.29289 21.7071C6.48043 21.8946 6.73478 22 7 22H25C25.2652 22 25.5196 21.8946 25.7071 21.7071C25.8946 21.5196 26 21.2652 26 21C26 20.7348 25.8946 20.4804 25.7071 20.2929C25.5196 20.1054 25.2652 20 25 20Z", fill="currentColor")
                        div(class="navbar-menu hidden fixed top-0 left-0 z-50 w-full h-full bg-coolGray-900 bg-opacity-50")
                            div(class="fixed top-0 left-0 bottom-0 w-full w-4/6 max-w-xs bg-white")
                                nav(class="relative p-6 h-full overflow-y-auto")
                                    div(class="flex flex-col justify-between h-full")
                                        a(class="inline-block", href="#")
                                            img(class="h-8", src="flex-ui-assets/logos/flex-ui-green.svg", alt="")
                                        ul(class="py-6")
                                            li
                                                a(class="block py-3 px-4 text-coolGray-500 hover:text-coolGray-900 font-medium hover:bg-coolGray-50 rounded-md", href="#") Product
                                            li
                                                a(class="block py-3 px-4 text-coolGray-500 hover:text-coolGray-900 font-medium hover:bg-coolGray-50 rounded-md", href="#") Features
                                            li
                                                a(class="block py-3 px-4 text-coolGray-500 hover:text-coolGray-900 font-medium hover:bg-coolGray-50 rounded-md", href="#") Pricing
                                            li
                                                a(class="block py-3 px-4 text-coolGray-500 hover:text-coolGray-900 font-medium hover:bg-coolGray-50 rounded-md", href="#") Resources
                                        div(class="flex flex-wrap")
                                            div(class="w-full mb-2")
                                                a(class="inline-block py-2 px-4 w-full text-sm leading-5 text-coolGray-500 hover:text-coolGray-900 bg-transparent font-medium text-center rounded-md", href="#") Log In
                                            div(class="w-full")
                                                a(class="inline-block py-2 px-4 w-full text-sm leading-5 text-white bg-green-500 hover:bg-green-600 font-medium text-center focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 rounded-md", href="#") Sign Up
                                a(class="navbar-close absolute top-5 p-4 right-3", href="#")
                                    svg(width="12", height="12", viewbox="0 0 12 12", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M6.94004 6L11.14 1.80667C11.2656 1.68113 11.3361 1.51087 11.3361 1.33333C11.3361 1.1558 11.2656 0.985537 11.14 0.860002C11.0145 0.734466 10.8442 0.66394 10.6667 0.66394C10.4892 0.66394 10.3189 0.734466 10.1934 0.860002L6.00004 5.06L1.80671 0.860002C1.68117 0.734466 1.51091 0.663941 1.33337 0.663941C1.15584 0.663941 0.985576 0.734466 0.860041 0.860002C0.734505 0.985537 0.66398 1.1558 0.66398 1.33333C0.66398 1.51087 0.734505 1.68113 0.860041 1.80667L5.06004 6L0.860041 10.1933C0.797555 10.2553 0.747959 10.329 0.714113 10.4103C0.680267 10.4915 0.662842 10.5787 0.662842 10.6667C0.662842 10.7547 0.680267 10.8418 0.714113 10.9231C0.747959 11.0043 0.797555 11.078 0.860041 11.14C0.922016 11.2025 0.99575 11.2521 1.07699 11.2859C1.15823 11.3198 1.24537 11.3372 1.33337 11.3372C1.42138 11.3372 1.50852 11.3198 1.58976 11.2859C1.671 11.2521 1.74473 11.2025 1.80671 11.14L6.00004 6.94L10.1934 11.14C10.2554 11.2025 10.3291 11.2521 10.4103 11.2859C10.4916 11.3198 10.5787 11.3372 10.6667 11.3372C10.7547 11.3372 10.8419 11.3198 10.9231 11.2859C11.0043 11.2521 11.0781 11.2025 11.14 11.14C11.2025 11.078 11.2521 11.0043 11.286 10.9231C11.3198 10.8418 11.3372 10.7547 11.3372 10.6667C11.3372 10.5787 11.3198 10.4915 11.286 10.4103C11.2521 10.329 11.2025 10.2553 11.14 10.1933L6.94004 6Z", fill="#556987")
                    div(class="pt-12 pb-28 md:pb-72")
                        div(class="container px-4 mx-auto")
                            div(class="mx-auto text-center max-w-3xl")
                                span(class="inline-block py-px px-2 mb-6 text-xs leading-5 text-white bg-green-500 uppercase rounded-9xl") Header
                                h1(class="mb-6 text-3xl md:text-5xl lg:text-6xl leading-tight font-bold tracking-tighter") A small business is only as good as its tools.
                                p(class="mb-8 mx-auto text-lg md:text-xl text-coolGray-500 font-medium max-w-3xl") We’re different. Flex is the only saas business platform that lets you run your business on one platform, seamlessly across all digital channels.
                                div(class="flex flex-wrap justify-center")
                                    div(class="w-full md:w-auto py-1 md:py-0 md:mr-4")
                                        a(class="inline-block py-5 px-7 w-full text-base md:text-lg leading-4 text-green-50 font-medium text-center bg-green-500 hover:bg-green-600 focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 border border-green-500 rounded-md shadow-sm", href="#") Request a Demo
                                    div(class="w-full md:w-auto py-1 md:py-0")
                                        a(class="inline-block py-5 px-7 w-full text-base md:text-lg leading-4 text-coolGray-800 font-medium text-center bg-white hover:bg-coolGray-100 focus:ring-2 focus:ring-coolGray-200 focus:ring-opacity-50 border border-coolGray-200 rounded-md shadow-sm", href="#") Sign Up
                div(class="container px-4 py-20 md:pb-32 mx-auto -mt-32 md:-mt-72")
                    div(class="relative mx-auto max-w-max")
                        img(class="absolute z-20 -left-8 -top-8 w-28 md:w-auto", src="flex-ui-assets/elements/wave-green.svg", alt="")
                        img(class="absolute -right-8 -bottom-8 w-28 md:w-auto", src="flex-ui-assets/elements/wave-yellow.svg", alt="")
                        svg(class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 cursor-pointer text-green-500 hover:text-green-600", width="64", height="64", viewbox="0 0 64 64", fill="none", xmlns="http://www.w3.org/2000/svg")
                            circle(cx="32", cy="32", r="32", fill="currentColor")
                            path(class="text-white", d="M40.5 31.13L26.5 23.05C26.348 22.9622 26.1755 22.916 26 22.916C25.8245 22.916 25.652 22.9622 25.5 23.05C25.3474 23.1381 25.2208 23.265 25.133 23.4177C25.0452 23.5705 24.9993 23.7438 25 23.92V40.08C24.9993 40.2562 25.0452 40.4295 25.133 40.5822C25.2208 40.735 25.3474 40.8619 25.5 40.95C25.652 41.0378 25.8245 41.084 26 41.084C26.1755 41.084 26.348 41.0378 26.5 40.95L40.5 32.87C40.6539 32.7828 40.7819 32.6563 40.871 32.5035C40.96 32.3506 41.007 32.1769 41.007 32C41.007 31.8231 40.96 31.6494 40.871 31.4965C40.7819 31.3437 40.6539 31.2172 40.5 31.13ZM27 38.35V25.65L38 32L27 38.35Z", fill="currentColor")
                        div(class="relative overflow-hidden rounded-7xl")
                            img(src="flex-ui-assets/images/headers/placeholder-video2.png")
                            video(class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 min-h-full min-w-full max-w-none", poster="flex-ui-assets/images/testimonials/video-frame.jpeg", muted="")
                                source(src="https://static.shuffle.dev/files/video-placeholder.mp4", type="video/mp4")
            section(class="py-24 bg-white", style="background-image: url('flex-ui-assets/elements/pattern-white.svg'); background-position: center;")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap items-center -mx-4 mb-16")
                        div(class="w-full md:w-1/2 px-4 mb-16 md:mb-0")
                            span(class="inline-block py-px px-2 mb-4 text-xs leading-5 text-green-500 bg-green-100 font-medium uppercase rounded-full shadow-sm") How it works
                            h2(class="mb-6 text-4xl md:text-5xl leading-tight font-bold tracking-tighter") Gain more insight into how people use your
                            p(class="text-lg md:text-xl text-coolGray-500 font-medium") With our integrated CRM, project management, collaboration and invoicing capabilities, you can manage your business in one secure platform.
                        div(class="w-full md:w-1/2 px-4")
                            div(class="relative mx-auto md:mr-0 max-w-max overflow-hidden rounded-7xl")
                                img(src="flex-ui-assets/images/how-it-works/placeholder-video.png", alt="")
                                video(class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 min-h-full min-w-full max-w-none", poster="flex-ui-assets/images/testimonials/video-frame.jpeg", muted="")
                                    source(src="https://static.shuffle.dev/files/video-placeholder.mp4", type="video/mp4")
                                a(class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 inline-flex items-center justify-center w-16 h-16 bg-green-500 hover:bg-green-600 rounded-full", href="#")
                                    svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M19.5 11.13L5.50001 3.05C5.34799 2.96223 5.17554 2.91603 5.00001 2.91603C4.82447 2.91603 4.65203 2.96223 4.50001 3.05C4.3474 3.1381 4.22079 3.26497 4.13299 3.41775C4.04518 3.57052 3.99931 3.74379 4.00001 3.92V20.08C3.99931 20.2562 4.04518 20.4295 4.13299 20.5823C4.22079 20.735 4.3474 20.8619 4.50001 20.95C4.65203 21.0378 4.82447 21.084 5.00001 21.084C5.17554 21.084 5.34799 21.0378 5.50001 20.95L19.5 12.87C19.6539 12.7828 19.7819 12.6563 19.871 12.5035C19.96 12.3506 20.007 12.1769 20.007 12C20.007 11.8231 19.96 11.6494 19.871 11.4965C19.7819 11.3437 19.6539 11.2172 19.5 11.13ZM6.00001 18.35V5.65L17 12L6.00001 18.35Z", fill="white")
                    div(class="flex flex-wrap -mx-4 text-center md:text-left")
                        div(class="w-full md:w-1/2 md:w-1/3 px-4 mb-8")
                            div(class="inline-flex items-center justify-center mb-4 w-12 h-12 text-xl text-white bg-green-500 font-semibold rounded-full") 1
                            h3(class="mb-2 text-xl font-bold") Measure your performance
                            p(class="font-medium text-coolGray-500") Stay connected with your team and make quick decisions wherever you are.
                        div(class="w-full md:w-1/2 md:w-1/3 px-4 mb-8")
                            div(class="inline-flex items-center justify-center mb-4 w-12 h-12 text-xl text-white bg-green-500 font-semibold rounded-full") 2
                            h3(class="mb-2 text-xl font-bold") Custom analytics
                            p(class="font-medium text-coolGray-500") Get a complete sales dashboard in the cloud. See activity, revenue and social metrics all in one place.
                        div(class="w-full md:w-1/2 md:w-1/3 px-4 mb-8")
                            div(class="inline-flex items-center justify-center mb-4 w-12 h-12 text-xl text-white bg-green-500 font-semibold rounded-full") 3
                            h3(class="mb-2 text-xl font-bold") Team Management
                            p(class="font-medium text-coolGray-500") Our calendar lets you know what is happening with customer and projects so you
                        div(class="w-full md:w-1/2 md:w-1/3 px-4 mb-8 md:mb-0")
                            div(class="inline-flex items-center justify-center mb-4 w-12 h-12 text-xl text-white bg-green-500 font-semibold rounded-full") 4
                            h3(class="mb-2 text-xl font-bold") Build your website
                            p(class="font-medium text-coolGray-500") A tool that lets you build a dream website even if you know nothing about web design or programming.
                        div(class="w-full md:w-1/2 md:w-1/3 px-4 mb-8 md:mb-0")
                            div(class="inline-flex items-center justify-center mb-4 w-12 h-12 text-xl text-white bg-green-500 font-semibold rounded-full") 5
                            h3(class="mb-2 text-xl font-bold") Connect multiple apps
                            p(class="font-medium text-coolGray-500") The first business platform to bring together all of your products from one place.
                        div(class="w-full md:w-1/2 md:w-1/3 px-4")
                            div(class="inline-flex items-center justify-center mb-4 w-12 h-12 text-xl text-white bg-green-500 font-semibold rounded-full") 6
                            h3(class="mb-2 text-xl font-bold") Easy setup
                            p(class="font-medium text-coolGray-500") End to End Business Platform, Sales Management, Marketing Automation, Help Desk
            section(class="py-24 bg-white", style="background-image: url('flex-ui-assets/elements/pattern-white.svg'); background-repeat: no-repeat; background-position: left top;")
                div(class="container px-4 mx-auto")
                    div(class="md:max-w-5xl mx-auto mb-8 md:mb-16 text-center")
                        span(class="inline-block py-px px-2 mb-4 text-xs leading-5 text-green-500 bg-green-100 font-medium uppercase rounded-full shadow-sm") Blog
                        h3(class="mb-4 text-3xl md:text-5xl leading-tight text-darkCoolGray-900 font-bold tracking-tighter") Our mission is to make knowledge and news accessible for everyone.
                        p(class="mb-10 text-lg md:text-xl text-coolGray-500 font-medium") With our integrated CRM, project management, collaboration and invoicing capabilities, you can manage your business in one secure platform.
                        div(class="relative mx-auto md:w-80")
                            img(class="absolute top-1/2 left-4 transform -translate-y-1/2", src="flex-ui-assets/elements/blog/search.svg", alt="")
                            input(class="w-full py-3 pl-12 pr-4 text-coolGray-900 leading-tight placeholder-coolGray-500 border border-coolGray-200 rounded-lg shadow-xsm focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50", type="text", placeholder="Search")
                    ul(class="flex flex-wrap mb-8 -mx-2 text-center")
                        li(class="w-full md:w-auto px-2")
                            a(class="inline-block w-full py-2 px-4 mb-4 md:mb-0 text-sm text-coolGray-400 hover:text-green-500 hover:bg-green-200 font-bold rounded-md hover:shadow-sm", href="#") All Categories
                        li(class="w-full md:w-auto px-2")
                            a(class="inline-block w-full py-2 px-4 mb-4 md:mb-0 text-sm text-coolGray-400 hover:text-green-500 hover:bg-green-200 font-bold rounded-md hover:shadow-sm", href="#") Technology
                        li(class="w-full md:w-auto px-2")
                            a(class="inline-block w-full py-2 px-4 mb-4 md:mb-0 text-sm text-coolGray-400 hover:text-green-500 hover:bg-green-200 font-bold rounded-md hover:shadow-sm", href="#") Development
                        li(class="w-full md:w-auto px-2")
                            a(class="inline-block w-full py-2 px-4 mb-4 md:mb-0 text-sm text-coolGray-400 hover:text-green-500 hover:bg-green-200 font-bold rounded-md hover:shadow-sm", href="#") Marketing
                        li(class="w-full md:w-auto px-2")
                            a(class="inline-block w-full py-2 px-4 text-sm text-coolGray-400 hover:text-green-500 hover:bg-green-200 font-bold rounded-md hover:shadow-sm", href="#") Start-up
                    div(class="flex flex-wrap -mx-4 mb-12 md:mb-20")
                        div(class="w-full md:w-1/2 px-4 mb-8")
                            a(class="block mb-6 overflow-hidden rounded-md", href="#")
                                img(class="w-full", src="flex-ui-assets/images/blog/effect.jpg", alt="")
                            div(class="mb-4")
                                a(class="inline-block py-1 px-3 text-xs leading-5 text-green-500 hover:text-green-600 font-medium uppercase bg-green-100 hover:bg-green-200 rounded-full shadow-sm", href="#") Technology
                            p(class="mb-2 text-coolGray-500 font-medium") John Doe • 19 Jan 2022
                            a(class="inline-block mb-4 text-2xl leading-tight text-coolGray-800 hover:text-coolGray-900 font-bold hover:underline", href="#") A small business is only as good as its tools and it is totally true.
                            p(class="mb-4 text-base md:text-lg text-coolGray-400 font-medium") We've all experienced the chaos of multiple spreadsheets, tracking and insight tools, and scrambling for the right data at the right time.
                            a(class="inline-flex items-center text-base md:text-lg text-green-500 hover:text-green-600 font-semibold", href="#")
                                span(class="mr-3") Read Post
                                svg(width="8", height="10", viewbox="0 0 8 10", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M7.94667 4.74665C7.91494 4.66481 7.86736 4.59005 7.80666 4.52665L4.47333 1.19331C4.41117 1.13116 4.33738 1.08185 4.25617 1.04821C4.17495 1.01457 4.08791 0.997253 4 0.997253C3.82246 0.997253 3.6522 1.06778 3.52667 1.19331C3.46451 1.25547 3.4152 1.32927 3.38156 1.41048C3.34792 1.4917 3.33061 1.57874 3.33061 1.66665C3.33061 1.84418 3.40113 2.01445 3.52667 2.13998L5.72667 4.33331H0.666667C0.489856 4.33331 0.320286 4.40355 0.195262 4.52858C0.070238 4.6536 0 4.82317 0 4.99998C0 5.17679 0.070238 5.34636 0.195262 5.47138C0.320286 5.59641 0.489856 5.66665 0.666667 5.66665H5.72667L3.52667 7.85998C3.46418 7.92196 3.41458 7.99569 3.38074 8.07693C3.34689 8.15817 3.32947 8.24531 3.32947 8.33331C3.32947 8.42132 3.34689 8.50846 3.38074 8.5897C3.41458 8.67094 3.46418 8.74467 3.52667 8.80665C3.58864 8.86913 3.66238 8.91873 3.74361 8.95257C3.82485 8.98642 3.91199 9.00385 4 9.00385C4.08801 9.00385 4.17514 8.98642 4.25638 8.95257C4.33762 8.91873 4.41136 8.86913 4.47333 8.80665L7.80666 5.47331C7.86736 5.40991 7.91494 5.33515 7.94667 5.25331C8.01334 5.09101 8.01334 4.90895 7.94667 4.74665Z", fill="currentColor")
                        div(class="w-full md:w-1/2 px-4 mb-8")
                            a(class="block mb-6 overflow-hidden rounded-md", href="#")
                                img(class="w-full", src="flex-ui-assets/images/blog/work.jpg", alt="")
                            div(class="mb-4")
                                a(class="inline-block py-1 px-3 text-xs leading-5 text-green-500 hover:text-green-600 font-medium uppercase bg-green-100 hover:bg-green-200 rounded-full shadow-sm", href="#") Development
                            p(class="mb-2 text-coolGray-500 font-medium") John Doe • 19 Jan 2022
                            a(class="inline-block mb-4 text-2xl leading-tight text-coolGray-800 hover:text-coolGray-900 font-bold hover:underline", href="#") A small business is only as good as its tools and it is totally true.
                            p(class="mb-4 text-base md:text-lg text-coolGray-400 font-medium") We've all experienced the chaos of multiple spreadsheets, tracking and insight tools, and scrambling for the right data at the right time.
                            a(class="inline-flex items-center text-base md:text-lg text-green-500 hover:text-green-600 font-semibold", href="#")
                                span(class="mr-3") Read Post
                                svg(width="8", height="10", viewbox="0 0 8 10", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M7.94667 4.74665C7.91494 4.66481 7.86736 4.59005 7.80666 4.52665L4.47333 1.19331C4.41117 1.13116 4.33738 1.08185 4.25617 1.04821C4.17495 1.01457 4.08791 0.997253 4 0.997253C3.82246 0.997253 3.6522 1.06778 3.52667 1.19331C3.46451 1.25547 3.4152 1.32927 3.38156 1.41048C3.34792 1.4917 3.33061 1.57874 3.33061 1.66665C3.33061 1.84418 3.40113 2.01445 3.52667 2.13998L5.72667 4.33331H0.666667C0.489856 4.33331 0.320286 4.40355 0.195262 4.52858C0.070238 4.6536 0 4.82317 0 4.99998C0 5.17679 0.070238 5.34636 0.195262 5.47138C0.320286 5.59641 0.489856 5.66665 0.666667 5.66665H5.72667L3.52667 7.85998C3.46418 7.92196 3.41458 7.99569 3.38074 8.07693C3.34689 8.15817 3.32947 8.24531 3.32947 8.33331C3.32947 8.42132 3.34689 8.50846 3.38074 8.5897C3.41458 8.67094 3.46418 8.74467 3.52667 8.80665C3.58864 8.86913 3.66238 8.91873 3.74361 8.95257C3.82485 8.98642 3.91199 9.00385 4 9.00385C4.08801 9.00385 4.17514 8.98642 4.25638 8.95257C4.33762 8.91873 4.41136 8.86913 4.47333 8.80665L7.80666 5.47331C7.86736 5.40991 7.91494 5.33515 7.94667 5.25331C8.01334 5.09101 8.01334 4.90895 7.94667 4.74665Z", fill="currentColor")
                        div(class="w-full md:w-1/2 px-4 mb-8")
                            a(class="block mb-6 overflow-hidden rounded-md", href="#")
                                img(class="w-full", src="flex-ui-assets/images/blog/work2.jpg", alt="")
                            div(class="mb-4")
                                a(class="inline-block py-1 px-3 text-xs leading-5 text-green-500 hover:text-green-600 font-medium uppercase bg-green-100 hover:bg-green-200 rounded-full shadow-sm", href="#") Marketing
                            p(class="mb-2 text-coolGray-500 font-medium") John Doe • 19 Jan 2022
                            a(class="inline-block mb-4 text-2xl leading-tight text-coolGray-800 hover:text-coolGray-900 font-bold hover:underline", href="#") A small business is only as good as its tools and it is totally true.
                            p(class="mb-4 text-base md:text-lg text-coolGray-400 font-medium") We've all experienced the chaos of multiple spreadsheets, tracking and insight tools, and scrambling for the right data at the right time.
                            a(class="inline-flex items-center text-base md:text-lg text-green-500 hover:text-green-600 font-semibold", href="#")
                                span(class="mr-3") Read Post
                                svg(width="8", height="10", viewbox="0 0 8 10", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M7.94667 4.74665C7.91494 4.66481 7.86736 4.59005 7.80666 4.52665L4.47333 1.19331C4.41117 1.13116 4.33738 1.08185 4.25617 1.04821C4.17495 1.01457 4.08791 0.997253 4 0.997253C3.82246 0.997253 3.6522 1.06778 3.52667 1.19331C3.46451 1.25547 3.4152 1.32927 3.38156 1.41048C3.34792 1.4917 3.33061 1.57874 3.33061 1.66665C3.33061 1.84418 3.40113 2.01445 3.52667 2.13998L5.72667 4.33331H0.666667C0.489856 4.33331 0.320286 4.40355 0.195262 4.52858C0.070238 4.6536 0 4.82317 0 4.99998C0 5.17679 0.070238 5.34636 0.195262 5.47138C0.320286 5.59641 0.489856 5.66665 0.666667 5.66665H5.72667L3.52667 7.85998C3.46418 7.92196 3.41458 7.99569 3.38074 8.07693C3.34689 8.15817 3.32947 8.24531 3.32947 8.33331C3.32947 8.42132 3.34689 8.50846 3.38074 8.5897C3.41458 8.67094 3.46418 8.74467 3.52667 8.80665C3.58864 8.86913 3.66238 8.91873 3.74361 8.95257C3.82485 8.98642 3.91199 9.00385 4 9.00385C4.08801 9.00385 4.17514 8.98642 4.25638 8.95257C4.33762 8.91873 4.41136 8.86913 4.47333 8.80665L7.80666 5.47331C7.86736 5.40991 7.91494 5.33515 7.94667 5.25331C8.01334 5.09101 8.01334 4.90895 7.94667 4.74665Z", fill="currentColor")
                        div(class="w-full md:w-1/2 px-4 mb-8")
                            a(class="block mb-6 overflow-hidden rounded-md", href="#")
                                img(class="w-full", src="flex-ui-assets/images/blog/effect2.jpg", alt="")
                            div(class="mb-4")
                                a(class="inline-block py-1 px-3 text-xs leading-5 text-green-500 hover:text-green-600 font-medium uppercase bg-green-100 hover:bg-green-200 rounded-full shadow-sm", href="#") Start-up
                            p(class="mb-2 text-coolGray-500 font-medium") John Doe • 19 Jan 2022
                            a(class="inline-block mb-4 text-2xl leading-tight text-coolGray-800 hover:text-coolGray-900 font-bold hover:underline", href="#") A small business is only as good as its tools and it is totally true.
                            p(class="mb-4 text-base md:text-lg text-coolGray-400 font-medium") We've all experienced the chaos of multiple spreadsheets, tracking and insight tools, and scrambling for the right data at the right time.
                            a(class="inline-flex items-center text-base md:text-lg text-green-500 hover:text-green-600 font-semibold", href="#")
                                span(class="mr-3") Read Post
                                svg(width="8", height="10", viewbox="0 0 8 10", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M7.94667 4.74665C7.91494 4.66481 7.86736 4.59005 7.80666 4.52665L4.47333 1.19331C4.41117 1.13116 4.33738 1.08185 4.25617 1.04821C4.17495 1.01457 4.08791 0.997253 4 0.997253C3.82246 0.997253 3.6522 1.06778 3.52667 1.19331C3.46451 1.25547 3.4152 1.32927 3.38156 1.41048C3.34792 1.4917 3.33061 1.57874 3.33061 1.66665C3.33061 1.84418 3.40113 2.01445 3.52667 2.13998L5.72667 4.33331H0.666667C0.489856 4.33331 0.320286 4.40355 0.195262 4.52858C0.070238 4.6536 0 4.82317 0 4.99998C0 5.17679 0.070238 5.34636 0.195262 5.47138C0.320286 5.59641 0.489856 5.66665 0.666667 5.66665H5.72667L3.52667 7.85998C3.46418 7.92196 3.41458 7.99569 3.38074 8.07693C3.34689 8.15817 3.32947 8.24531 3.32947 8.33331C3.32947 8.42132 3.34689 8.50846 3.38074 8.5897C3.41458 8.67094 3.46418 8.74467 3.52667 8.80665C3.58864 8.86913 3.66238 8.91873 3.74361 8.95257C3.82485 8.98642 3.91199 9.00385 4 9.00385C4.08801 9.00385 4.17514 8.98642 4.25638 8.95257C4.33762 8.91873 4.41136 8.86913 4.47333 8.80665L7.80666 5.47331C7.86736 5.40991 7.91494 5.33515 7.94667 5.25331C8.01334 5.09101 8.01334 4.90895 7.94667 4.74665Z", fill="currentColor")
                        div(class="w-full md:w-1/2 px-4 mb-8 md:mb-0")
                            a(class="block mb-6 overflow-hidden rounded-md", href="#")
                                img(class="w-full", src="flex-ui-assets/images/blog/learn.jpg", alt="")
                            div(class="mb-4")
                                a(class="inline-block py-1 px-3 text-xs leading-5 text-green-500 hover:text-green-600 font-medium uppercase bg-green-100 hover:bg-green-200 rounded-full shadow-sm", href="#") Article
                            p(class="mb-2 text-coolGray-500 font-medium") John Doe • 19 Jan 2022
                            a(class="inline-block mb-4 text-2xl leading-tight text-coolGray-800 hover:text-coolGray-900 font-bold hover:underline", href="#") A small business is only as good as its tools and it is totally true.
                            p(class="mb-4 text-base md:text-lg text-coolGray-400 font-medium") We've all experienced the chaos of multiple spreadsheets, tracking and insight tools, and scrambling for the right data at the right time.
                            a(class="inline-flex items-center text-base md:text-lg text-green-500 hover:text-green-600 font-semibold", href="#")
                                span(class="mr-3") Read Post
                                svg(width="8", height="10", viewbox="0 0 8 10", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M7.94667 4.74665C7.91494 4.66481 7.86736 4.59005 7.80666 4.52665L4.47333 1.19331C4.41117 1.13116 4.33738 1.08185 4.25617 1.04821C4.17495 1.01457 4.08791 0.997253 4 0.997253C3.82246 0.997253 3.6522 1.06778 3.52667 1.19331C3.46451 1.25547 3.4152 1.32927 3.38156 1.41048C3.34792 1.4917 3.33061 1.57874 3.33061 1.66665C3.33061 1.84418 3.40113 2.01445 3.52667 2.13998L5.72667 4.33331H0.666667C0.489856 4.33331 0.320286 4.40355 0.195262 4.52858C0.070238 4.6536 0 4.82317 0 4.99998C0 5.17679 0.070238 5.34636 0.195262 5.47138C0.320286 5.59641 0.489856 5.66665 0.666667 5.66665H5.72667L3.52667 7.85998C3.46418 7.92196 3.41458 7.99569 3.38074 8.07693C3.34689 8.15817 3.32947 8.24531 3.32947 8.33331C3.32947 8.42132 3.34689 8.50846 3.38074 8.5897C3.41458 8.67094 3.46418 8.74467 3.52667 8.80665C3.58864 8.86913 3.66238 8.91873 3.74361 8.95257C3.82485 8.98642 3.91199 9.00385 4 9.00385C4.08801 9.00385 4.17514 8.98642 4.25638 8.95257C4.33762 8.91873 4.41136 8.86913 4.47333 8.80665L7.80666 5.47331C7.86736 5.40991 7.91494 5.33515 7.94667 5.25331C8.01334 5.09101 8.01334 4.90895 7.94667 4.74665Z", fill="currentColor")
                        div(class="w-full md:w-1/2 px-4")
                            a(class="block mb-6 overflow-hidden rounded-md", href="#")
                                img(class="w-full", src="flex-ui-assets/images/blog/macbook.jpg", alt="")
                            div(class="mb-4")
                                a(class="inline-block py-1 px-3 text-xs leading-5 text-green-500 hover:text-green-600 font-medium uppercase bg-green-100 hover:bg-green-200 rounded-full shadow-sm", href="#") Podcast
                            p(class="mb-2 text-coolGray-500 font-medium") John Doe • 19 Jan 2022
                            a(class="inline-block mb-4 text-2xl leading-tight text-coolGray-800 hover:text-coolGray-900 font-bold hover:underline", href="#") A small business is only as good as its tools and it is totally true.
                            p(class="mb-4 text-base md:text-lg text-coolGray-400 font-medium") We've all experienced the chaos of multiple spreadsheets, tracking and insight tools, and scrambling for the right data at the right time.
                            a(class="inline-flex items-center text-base md:text-lg text-green-500 hover:text-green-600 font-semibold", href="#")
                                span(class="mr-3") Read Post
                                svg(width="8", height="10", viewbox="0 0 8 10", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M7.94667 4.74665C7.91494 4.66481 7.86736 4.59005 7.80666 4.52665L4.47333 1.19331C4.41117 1.13116 4.33738 1.08185 4.25617 1.04821C4.17495 1.01457 4.08791 0.997253 4 0.997253C3.82246 0.997253 3.6522 1.06778 3.52667 1.19331C3.46451 1.25547 3.4152 1.32927 3.38156 1.41048C3.34792 1.4917 3.33061 1.57874 3.33061 1.66665C3.33061 1.84418 3.40113 2.01445 3.52667 2.13998L5.72667 4.33331H0.666667C0.489856 4.33331 0.320286 4.40355 0.195262 4.52858C0.070238 4.6536 0 4.82317 0 4.99998C0 5.17679 0.070238 5.34636 0.195262 5.47138C0.320286 5.59641 0.489856 5.66665 0.666667 5.66665H5.72667L3.52667 7.85998C3.46418 7.92196 3.41458 7.99569 3.38074 8.07693C3.34689 8.15817 3.32947 8.24531 3.32947 8.33331C3.32947 8.42132 3.34689 8.50846 3.38074 8.5897C3.41458 8.67094 3.46418 8.74467 3.52667 8.80665C3.58864 8.86913 3.66238 8.91873 3.74361 8.95257C3.82485 8.98642 3.91199 9.00385 4 9.00385C4.08801 9.00385 4.17514 8.98642 4.25638 8.95257C4.33762 8.91873 4.41136 8.86913 4.47333 8.80665L7.80666 5.47331C7.86736 5.40991 7.91494 5.33515 7.94667 5.25331C8.01334 5.09101 8.01334 4.90895 7.94667 4.74665Z", fill="currentColor")
                    a(class="flex items-center justify-center py-2 px-4 mx-auto text-sm leading-5 text-green-50 font-medium bg-green-500 hover:bg-green-600 focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 md:max-w-max rounded-md", href="#")
                        span(class="mr-3") View more
                        svg(class="text-green-50", width="12", height="10", viewbox="0 0 12 10", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M10.7583 4.40833C10.6809 4.33023 10.5887 4.26823 10.4871 4.22592C10.3856 4.18362 10.2767 4.16183 10.1667 4.16183C10.0567 4.16183 9.94773 4.18362 9.84619 4.22592C9.74464 4.26823 9.65247 4.33023 9.575 4.40833L6.83333 7.15833V0.833333C6.83333 0.61232 6.74554 0.400358 6.58926 0.244078C6.43297 0.0877975 6.22101 0 6 0C5.77899 0 5.56702 0.0877975 5.41074 0.244078C5.25446 0.400358 5.16667 0.61232 5.16667 0.833333V7.15833L2.425 4.40833C2.26808 4.25141 2.05525 4.16326 1.83333 4.16326C1.61141 4.16326 1.39859 4.25141 1.24167 4.40833C1.08475 4.56525 0.99659 4.77808 0.99659 5C0.99659 5.22192 1.08475 5.43475 1.24167 5.59167L5.40833 9.75833C5.48759 9.8342 5.58104 9.89367 5.68333 9.93333C5.78308 9.97742 5.89094 10.0002 6 10.0002C6.10906 10.0002 6.21692 9.97742 6.31667 9.93333C6.41896 9.89367 6.51241 9.8342 6.59167 9.75833L10.7583 5.59167C10.8364 5.5142 10.8984 5.42203 10.9407 5.32048C10.9831 5.21893 11.0048 5.11001 11.0048 5C11.0048 4.88999 10.9831 4.78107 10.9407 4.67952C10.8984 4.57797 10.8364 4.4858 10.7583 4.40833Z", fill="currentColor")
            section(class="relative bg-white overflow-hidden", style="background-image: url('flex-ui-assets/elements/pattern-white.svg'); background-position: center;")
                div(class="bg-tarnsparent")
                    nav(class="flex justify-between p-6 px-4")
                        div(class="flex justify-between items-center w-full")
                            div(class="w-1/2 xl:w-1/3")
                                a(class="block max-w-max", href="#")
                                    img(class="h-8", src="flex-ui-assets/logos/flex-ui-green-light.svg", alt="")
                            div(class="w-1/2 xl:w-1/3")
                                ul(class="hidden xl:flex xl:justify-center")
                                    li(class="mr-12")
                                        a(class="text-coolGray-500 hover:text-coolGray-900 font-medium", href="#") Product
                                    li(class="mr-12")
                                        a(class="text-coolGray-500 hover:text-coolGray-900 font-medium", href="#") Features
                                    li(class="mr-12")
                                        a(class="text-coolGray-500 hover:text-coolGray-900 font-medium", href="#") Resources
                                    li
                                        a(class="text-coolGray-500 hover:text-coolGray-900 font-medium", href="#") Pricing
                            div(class="w-1/2 xl:w-1/3")
                                div(class="hidden xl:flex items-center justify-end")
                                    a(class="inline-block py-2 px-4 mr-2 leading-5 text-coolGray-500 hover:text-coolGray-900 bg-transparent font-medium rounded-md", href="#") Log In
                                    a(class="inline-block py-2 px-4 text-sm leading-5 text-green-50 bg-green-500 hover:bg-green-600 font-medium focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 rounded-md", href="#") Sign Up
                        button(class="navbar-burger self-center xl:hidden")
                            svg(width="35", height="35", viewbox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                rect(class="text-coolGray-50", width="32", height="32", rx="6", fill="currentColor")
                                path(class="text-coolGray-500", d="M7 12H25C25.2652 12 25.5196 11.8946 25.7071 11.7071C25.8946 11.5196 26 11.2652 26 11C26 10.7348 25.8946 10.4804 25.7071 10.2929C25.5196 10.1054 25.2652 10 25 10H7C6.73478 10 6.48043 10.1054 6.29289 10.2929C6.10536 10.4804 6 10.7348 6 11C6 11.2652 6.10536 11.5196 6.29289 11.7071C6.48043 11.8946 6.73478 12 7 12ZM25 15H7C6.73478 15 6.48043 15.1054 6.29289 15.2929C6.10536 15.4804 6 15.7348 6 16C6 16.2652 6.10536 16.5196 6.29289 16.7071C6.48043 16.8946 6.73478 17 7 17H25C25.2652 17 25.5196 16.8946 25.7071 16.7071C25.8946 16.5196 26 16.2652 26 16C26 15.7348 25.8946 15.4804 25.7071 15.2929C25.5196 15.1054 25.2652 15 25 15ZM25 20H7C6.73478 20 6.48043 20.1054 6.29289 20.2929C6.10536 20.4804 6 20.7348 6 21C6 21.2652 6.10536 21.5196 6.29289 21.7071C6.48043 21.8946 6.73478 22 7 22H25C25.2652 22 25.5196 21.8946 25.7071 21.7071C25.8946 21.5196 26 21.2652 26 21C26 20.7348 25.8946 20.4804 25.7071 20.2929C25.5196 20.1054 25.2652 20 25 20Z", fill="currentColor")
                    div(class="navbar-menu hidden fixed top-0 left-0 z-50 w-full h-full bg-coolGray-900 bg-opacity-50")
                        div(class="fixed top-0 left-0 bottom-0 w-full w-4/6 max-w-xs bg-white")
                            nav(class="relative p-6 h-full overflow-y-auto")
                                div(class="flex flex-col justify-between h-full")
                                    a(class="inline-block", href="#")
                                        img(class="h-8", src="flex-ui-assets/logos/flex-ui-green-light.svg", alt="")
                                    ul(class="py-6")
                                        li
                                            a(class="block py-3 px-4 text-coolGray-500 hover:text-coolGray-900 font-medium hover:bg-coolGray-50 rounded-md", href="#") Product
                                        li
                                            a(class="block py-3 px-4 text-coolGray-500 hover:text-coolGray-900 font-medium hover:bg-coolGray-50 rounded-md", href="#") Features
                                        li
                                            a(class="block py-3 px-4 text-coolGray-500 hover:text-coolGray-900 font-medium hover:bg-coolGray-50 rounded-md", href="#") Pricing
                                        li
                                            a(class="block py-3 px-4 text-coolGray-500 hover:text-coolGray-900 font-medium hover:bg-coolGray-50 rounded-md", href="#") Resources
                                    div(class="flex flex-wrap")
                                        div(class="w-full mb-2")
                                            a(class="inline-block py-2 px-4 w-full text-sm leading-5 text-coolGray-500 hover:text-coolGray-900 bg-transparent font-medium text-center rounded-md", href="#") Log In
                                        div(class="w-full")
                                            a(class="inline-block py-2 px-4 w-full text-sm leading-5 text-white bg-green-500 hover:bg-green-600 font-medium text-center focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 rounded-md", href="#") Sign Up
                            a(class="navbar-close absolute top-5 p-4 right-3", href="#")
                                svg(width="12", height="12", viewbox="0 0 12 12", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M6.94004 6L11.14 1.80667C11.2656 1.68113 11.3361 1.51087 11.3361 1.33333C11.3361 1.1558 11.2656 0.985537 11.14 0.860002C11.0145 0.734466 10.8442 0.66394 10.6667 0.66394C10.4892 0.66394 10.3189 0.734466 10.1934 0.860002L6.00004 5.06L1.80671 0.860002C1.68117 0.734466 1.51091 0.663941 1.33337 0.663941C1.15584 0.663941 0.985576 0.734466 0.860041 0.860002C0.734505 0.985537 0.66398 1.1558 0.66398 1.33333C0.66398 1.51087 0.734505 1.68113 0.860041 1.80667L5.06004 6L0.860041 10.1933C0.797555 10.2553 0.747959 10.329 0.714113 10.4103C0.680267 10.4915 0.662842 10.5787 0.662842 10.6667C0.662842 10.7547 0.680267 10.8418 0.714113 10.9231C0.747959 11.0043 0.797555 11.078 0.860041 11.14C0.922016 11.2025 0.99575 11.2521 1.07699 11.2859C1.15823 11.3198 1.24537 11.3372 1.33337 11.3372C1.42138 11.3372 1.50852 11.3198 1.58976 11.2859C1.671 11.2521 1.74473 11.2025 1.80671 11.14L6.00004 6.94L10.1934 11.14C10.2554 11.2025 10.3291 11.2521 10.4103 11.2859C10.4916 11.3198 10.5787 11.3372 10.6667 11.3372C10.7547 11.3372 10.8419 11.3198 10.9231 11.2859C11.0043 11.2521 11.0781 11.2025 11.14 11.14C11.2025 11.078 11.2521 11.0043 11.286 10.9231C11.3198 10.8418 11.3372 10.7547 11.3372 10.6667C11.3372 10.5787 11.3198 10.4915 11.286 10.4103C11.2521 10.329 11.2025 10.2553 11.14 10.1933L6.94004 6Z", fill="#556987")
                div(class="py-20 md:py-28")
                    div(class="container px-4 mx-auto")
                        div(class="flex flex-wrap xl:items-center -mx-4")
                            div(class="w-full md:w-1/2 px-4 mb-16 md:mb-0")
                                span(class="inline-block py-px px-2 mb-4 text-xs leading-5 text-white bg-green-500 uppercase rounded-9xl") Header
                                h1(class="mb-6 text-3xl md:text-5xl lg:text-6xl leading-tight font-bold tracking-tight") A small business is only as good as its tools.
                                p(class="mb-8 text-lg md:text-xl text-coolGray-500 font-medium") We’re different. Flex is the only saas business platform that lets you run your business on one platform, seamlessly across all digital channels.
                                div(class="flex flex-wrap")
                                    div(class="w-full md:w-auto py-1 md:py-0 md:mr-4")
                                        a(class="inline-block py-5 px-7 w-full text-base md:text-lg leading-4 text-green-50 font-medium text-center bg-green-500 hover:bg-green-600 focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 border border-green-500 rounded-md shadow-sm", href="#") Request a Demo
                                    div(class="w-full md:w-auto py-1 md:py-0")
                                        a(class="inline-block py-5 px-7 w-full text-base md:text-lg leading-4 text-coolGray-800 font-medium text-center bg-white hover:bg-coolGray-100 focus:ring-2 focus:ring-coolGray-200 focus:ring-opacity-50 border border-coolGray-200 rounded-md shadow-sm", href="#") Sign Up
                            div(class="w-full md:w-1/2 px-4")
                                div(class="relative mx-auto md:mr-0 max-w-max")
                                    img(class="absolute z-10 -left-14 -top-12 w-28 md:w-auto", src="flex-ui-assets/elements/circle3-yellow.svg", alt="")
                                    img(class="absolute z-10 -right-7 -bottom-8 w-28 md:w-auto", src="flex-ui-assets/elements/dots3-blue.svg", alt="")
                                    img(class="relative rounded-7xl", src="flex-ui-assets/images/headers/header.jpg", alt="")
            section(class="py-20 xl:pt-24 xl:pb-28 bg-white", style="background-image: url('flex-ui-assets/elements/pattern-white.svg'); background-position: center;")
                div(class="container px-4 mx-auto")
                    span(class="inline-block py-px px-2 mb-4 text-xs leading-5 text-green-500 bg-green-100 font-medium uppercase rounded-9xl") Pricing
                    h3(class="mb-4 text-3xl md:text-5xl text-coolGray-900 font-bold tracking-tighter") Flexible pricing plan for your startup
                    p(class="mb-12 text-lg md:text-xl text-coolGray-500 font-medium") Pricing that scales with your business immediately.
                    div(class="flex flex-wrap justify-center -mx-4")
                        div(class="w-full md:w-1/2 lg:w-1/3 p-4")
                            div(class="flex flex-col items-center pt-10 px-8 pb-8 bg-coolGray-50 rounded-md shadow-md hover:scale-105 transition duration-500")
                                span(class="inline-block py-px px-2 mb-6 text-xs leading-5 text-green-500 bg-green-100 font-medium uppercase rounded-9xl") Pricing
                                h3(class="mb-4 text-lg md:text-xl text-green-500 font-medium") Basic Plan
                                div(class="mb-4")
                                    span(class="relative -top-6 right-1 text-2xl text-coolGray-900 font-medium") $
                                    |                   
                                    span(class="text-5xl text-coolGray-900 font-medium") 10
                                    |                   
                                    span(class="text-3xl text-coolGray-900 font-medium") /mo
                                p(class="mb-7 text-lg md:text-xl text-coolGray-400 font-medium") Billed annually
                                ul(class="self-start mb-8")
                                    li(class="flex items-center mb-3 text-coolGray-500 font-medium")
                                        img(class="mr-3", src="flex-ui-assets/elements/pricing/checkbox-green.svg")
                                        span Complete documentation
                                    li(class="flex items-center mb-3 text-coolGray-500 font-medium")
                                        img(class="mr-3", src="flex-ui-assets/elements/pricing/checkbox-green.svg")
                                        span Working materials in Figma
                                    li(class="flex items-center mb-3 text-coolGray-500 font-medium")
                                        img(class="mr-3", src="flex-ui-assets/elements/pricing/checkbox-green.svg")
                                        span 100GB cloud storage
                                    li(class="flex items-center text-coolGray-500 font-medium")
                                        img(class="mr-3", src="flex-ui-assets/elements/pricing/checkbox-green.svg")
                                        span 500 team members
                                a(class="inline-block py-3 px-7 w-full text-green-50 font-medium text-center bg-green-500 hover:bg-green-600 focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 rounded-md shadow-sm", href="#") Request a Demo
                        div(class="w-full md:w-1/2 lg:w-1/3 p-4")
                            div(class="flex flex-col items-center pt-10 px-8 pb-8 bg-coolGray-50 rounded-md shadow-md hover:scale-105 transition duration-500")
                                span(class="inline-block py-px px-2 mb-6 text-xs leading-5 text-green-500 bg-green-100 font-medium uppercase rounded-9xl") Pricing
                                h3(class="mb-4 text-lg md:text-xl text-green-500 font-medium") Freelancer Plan
                                div(class="mb-4")
                                    span(class="relative -top-6 right-1 text-2xl text-coolGray-900 font-medium") $
                                    |                   
                                    span(class="text-5xl text-coolGray-900 font-medium") 99
                                    |                   
                                    span(class="text-3xl text-coolGray-900 font-medium") /mo
                                p(class="mb-7 text-lg md:text-xl text-coolGray-400 font-medium") Billed annually
                                ul(class="self-start mb-8")
                                    li(class="flex items-center mb-3 text-coolGray-500 font-medium")
                                        img(class="mr-3", src="flex-ui-assets/elements/pricing/checkbox-green.svg")
                                        span Complete documentation
                                    li(class="flex items-center mb-3 text-coolGray-500 font-medium")
                                        img(class="mr-3", src="flex-ui-assets/elements/pricing/checkbox-green.svg")
                                        span Working materials in Figma
                                    li(class="flex items-center mb-3 text-coolGray-500 font-medium")
                                        img(class="mr-3", src="flex-ui-assets/elements/pricing/checkbox-green.svg")
                                        span 100GB cloud storage
                                    li(class="flex items-center text-coolGray-500 font-medium")
                                        img(class="mr-3", src="flex-ui-assets/elements/pricing/checkbox-green.svg")
                                        span 500 team members
                                a(class="inline-block py-3 px-7 w-full text-green-50 font-medium text-center bg-green-500 hover:bg-green-600 focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 rounded-md shadow-sm", href="#") Request a Demo
                        div(class="w-full md:w-1/2 lg:w-1/3 p-4")
                            div(class="flex flex-col items-center pt-10 px-8 pb-8 bg-coolGray-50 rounded-md shadow-md hover:scale-105 transition duration-500")
                                span(class="inline-block py-px px-2 mb-6 text-xs leading-5 text-green-500 bg-green-100 font-medium uppercase rounded-9xl") Pricing
                                h3(class="mb-4 text-lg md:text-xl text-green-500 font-medium") Enterprise Plan
                                div(class="mb-4")
                                    span(class="relative -top-6 right-1 text-2xl text-coolGray-900 font-medium") $
                                    |                   
                                    span(class="text-5xl text-coolGray-900 font-medium") 799
                                    |                   
                                    span(class="text-3xl text-coolGray-900 font-medium") /year
                                p(class="mb-7 text-lg md:text-xl text-coolGray-400 font-medium") Billed annually
                                ul(class="self-start mb-8")
                                    li(class="flex items-center mb-3 text-coolGray-500 font-medium")
                                        img(class="mr-3", src="flex-ui-assets/elements/pricing/checkbox-green.svg")
                                        span Complete documentation
                                    li(class="flex items-center mb-3 text-coolGray-500 font-medium")
                                        img(class="mr-3", src="flex-ui-assets/elements/pricing/checkbox-green.svg")
                                        span Working materials in Figma
                                    li(class="flex items-center mb-3 text-coolGray-500 font-medium")
                                        img(class="mr-3", src="flex-ui-assets/elements/pricing/checkbox-green.svg")
                                        span 100GB cloud storage
                                    li(class="flex items-center text-coolGray-500 font-medium")
                                        img(class="mr-3", src="flex-ui-assets/elements/pricing/checkbox-green.svg")
                                        span 500 team members
                                a(class="inline-block py-3 px-7 w-full text-green-50 font-medium text-center bg-green-500 hover:bg-green-600 focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 rounded-md shadow-sm", href="#") Request a Demo
            section(class="relative bg-white overflow-hidden", style="background-image: url('flex-ui-assets/elements/pattern-white.svg'); background-position: center;")
                div(class="bg-tarnsparent")
                    nav(class="flex justify-between p-6 px-4")
                        div(class="flex justify-between items-center w-full")
                            div(class="w-1/2 xl:w-1/3")
                                a(class="block max-w-max", href="#")
                                    img(class="h-8", src="flex-ui-assets/logos/flex-ui-green-light.svg", alt="")
                            div(class="w-1/2 xl:w-1/3")
                                ul(class="hidden xl:flex xl:justify-center")
                                    li(class="mr-12")
                                        a(class="text-coolGray-500 hover:text-coolGray-900 font-medium", href="#") Product
                                    li(class="mr-12")
                                        a(class="text-coolGray-500 hover:text-coolGray-900 font-medium", href="#") Features
                                    li(class="mr-12")
                                        a(class="text-coolGray-500 hover:text-coolGray-900 font-medium", href="#") Resources
                                    li
                                        a(class="text-coolGray-500 hover:text-coolGray-900 font-medium", href="#") Pricing
                            div(class="w-1/2 xl:w-1/3")
                                div(class="hidden xl:flex items-center justify-end")
                                    a(class="inline-block py-2 px-4 mr-2 leading-5 text-coolGray-500 hover:text-coolGray-900 bg-transparent font-medium rounded-md", href="#") Log In
                                    a(class="inline-block py-2 px-4 text-sm leading-5 text-green-50 bg-green-500 hover:bg-green-600 font-medium focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 rounded-md", href="#") Sign Up
                        button(class="navbar-burger self-center xl:hidden")
                            svg(width="35", height="35", viewbox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                rect(class="text-coolGray-50", width="32", height="32", rx="6", fill="currentColor")
                                path(class="text-coolGray-500", d="M7 12H25C25.2652 12 25.5196 11.8946 25.7071 11.7071C25.8946 11.5196 26 11.2652 26 11C26 10.7348 25.8946 10.4804 25.7071 10.2929C25.5196 10.1054 25.2652 10 25 10H7C6.73478 10 6.48043 10.1054 6.29289 10.2929C6.10536 10.4804 6 10.7348 6 11C6 11.2652 6.10536 11.5196 6.29289 11.7071C6.48043 11.8946 6.73478 12 7 12ZM25 15H7C6.73478 15 6.48043 15.1054 6.29289 15.2929C6.10536 15.4804 6 15.7348 6 16C6 16.2652 6.10536 16.5196 6.29289 16.7071C6.48043 16.8946 6.73478 17 7 17H25C25.2652 17 25.5196 16.8946 25.7071 16.7071C25.8946 16.5196 26 16.2652 26 16C26 15.7348 25.8946 15.4804 25.7071 15.2929C25.5196 15.1054 25.2652 15 25 15ZM25 20H7C6.73478 20 6.48043 20.1054 6.29289 20.2929C6.10536 20.4804 6 20.7348 6 21C6 21.2652 6.10536 21.5196 6.29289 21.7071C6.48043 21.8946 6.73478 22 7 22H25C25.2652 22 25.5196 21.8946 25.7071 21.7071C25.8946 21.5196 26 21.2652 26 21C26 20.7348 25.8946 20.4804 25.7071 20.2929C25.5196 20.1054 25.2652 20 25 20Z", fill="currentColor")
                    div(class="navbar-menu hidden fixed top-0 left-0 z-50 w-full h-full bg-coolGray-900 bg-opacity-50")
                        div(class="fixed top-0 left-0 bottom-0 w-full w-4/6 max-w-xs bg-white")
                            nav(class="relative p-6 h-full overflow-y-auto")
                                div(class="flex flex-col justify-between h-full")
                                    a(class="inline-block", href="#")
                                        img(class="h-8", src="flex-ui-assets/logos/flex-ui-green-light.svg", alt="")
                                    ul(class="py-6")
                                        li
                                            a(class="block py-3 px-4 text-coolGray-500 hover:text-coolGray-900 font-medium hover:bg-coolGray-50 rounded-md", href="#") Product
                                        li
                                            a(class="block py-3 px-4 text-coolGray-500 hover:text-coolGray-900 font-medium hover:bg-coolGray-50 rounded-md", href="#") Features
                                        li
                                            a(class="block py-3 px-4 text-coolGray-500 hover:text-coolGray-900 font-medium hover:bg-coolGray-50 rounded-md", href="#") Pricing
                                        li
                                            a(class="block py-3 px-4 text-coolGray-500 hover:text-coolGray-900 font-medium hover:bg-coolGray-50 rounded-md", href="#") Resources
                                    div(class="flex flex-wrap")
                                        div(class="w-full mb-2")
                                            a(class="inline-block py-2 px-4 w-full text-sm leading-5 text-coolGray-500 hover:text-coolGray-900 bg-transparent font-medium text-center rounded-md", href="#") Log In
                                        div(class="w-full")
                                            a(class="inline-block py-2 px-4 w-full text-sm leading-5 text-white bg-green-500 hover:bg-green-600 font-medium text-center focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 rounded-md", href="#") Sign Up
                            a(class="navbar-close absolute top-5 p-4 right-3", href="#")
                                svg(width="12", height="12", viewbox="0 0 12 12", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M6.94004 6L11.14 1.80667C11.2656 1.68113 11.3361 1.51087 11.3361 1.33333C11.3361 1.1558 11.2656 0.985537 11.14 0.860002C11.0145 0.734466 10.8442 0.66394 10.6667 0.66394C10.4892 0.66394 10.3189 0.734466 10.1934 0.860002L6.00004 5.06L1.80671 0.860002C1.68117 0.734466 1.51091 0.663941 1.33337 0.663941C1.15584 0.663941 0.985576 0.734466 0.860041 0.860002C0.734505 0.985537 0.66398 1.1558 0.66398 1.33333C0.66398 1.51087 0.734505 1.68113 0.860041 1.80667L5.06004 6L0.860041 10.1933C0.797555 10.2553 0.747959 10.329 0.714113 10.4103C0.680267 10.4915 0.662842 10.5787 0.662842 10.6667C0.662842 10.7547 0.680267 10.8418 0.714113 10.9231C0.747959 11.0043 0.797555 11.078 0.860041 11.14C0.922016 11.2025 0.99575 11.2521 1.07699 11.2859C1.15823 11.3198 1.24537 11.3372 1.33337 11.3372C1.42138 11.3372 1.50852 11.3198 1.58976 11.2859C1.671 11.2521 1.74473 11.2025 1.80671 11.14L6.00004 6.94L10.1934 11.14C10.2554 11.2025 10.3291 11.2521 10.4103 11.2859C10.4916 11.3198 10.5787 11.3372 10.6667 11.3372C10.7547 11.3372 10.8419 11.3198 10.9231 11.2859C11.0043 11.2521 11.0781 11.2025 11.14 11.14C11.2025 11.078 11.2521 11.0043 11.286 10.9231C11.3198 10.8418 11.3372 10.7547 11.3372 10.6667C11.3372 10.5787 11.3198 10.4915 11.286 10.4103C11.2521 10.329 11.2025 10.2553 11.14 10.1933L6.94004 6Z", fill="#556987")
                div(class="py-20 md:py-28")
                    div(class="container px-4 mx-auto")
                        div(class="flex flex-wrap xl:items-center -mx-4")
                            div(class="")
                                span(class="inline-block py-px px-2 mb-4 text-xs leading-5 text-white bg-green-500 uppercase rounded-9xl") Header
                                h1(class="mb-6 text-3xl md:text-5xl lg:text-6xl leading-tight font-bold tracking-tight") A small business is only as good as its tools.
                                div(class="flex flex-wrap")
                                    div(class="w-full md:w-auto py-1 md:py-0 md:mr-4")
                                        a(class="inline-block py-5 px-7 w-full text-base md:text-lg leading-4 text-green-50 font-medium text-center bg-green-500 hover:bg-green-600 focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 border border-green-500 rounded-md shadow-sm", href="#") Request a Demo
                                    div(class="w-full md:w-auto py-1 md:py-0")
                                        a(class="inline-block py-5 px-7 w-full text-base md:text-lg leading-4 text-coolGray-800 font-medium text-center bg-white hover:bg-coolGray-100 focus:ring-2 focus:ring-coolGray-200 focus:ring-opacity-50 border border-coolGray-200 rounded-md shadow-sm", href="#") Sign Up
                            div(class="w-full md:w-1/2 px-4")
                                div(class="relative mx-auto md:mr-0 max-w-max")
                                    img(class="absolute z-10 -left-14 -top-12 w-28 md:w-auto", src="flex-ui-assets/elements/circle3-yellow.svg", alt="")
                                    img(class="absolute z-10 -right-7 -bottom-8 w-28 md:w-auto", src="flex-ui-assets/elements/dots3-blue.svg", alt="")
                                    svg(class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 cursor-pointer text-green-500 hover:text-green-600", width="64", height="64", viewbox="0 0 64 64", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        circle(cx="32", cy="32", r="32", fill="currentColor")
                                        path(class="text-white", d="M40.5 31.13L26.5 23.05C26.348 22.9622 26.1755 22.916 26 22.916C25.8245 22.916 25.652 22.9622 25.5 23.05C25.3474 23.1381 25.2208 23.265 25.133 23.4177C25.0452 23.5705 24.9993 23.7438 25 23.92V40.08C24.9993 40.2562 25.0452 40.4295 25.133 40.5822C25.2208 40.735 25.3474 40.8619 25.5 40.95C25.652 41.0378 25.8245 41.084 26 41.084C26.1755 41.084 26.348 41.0378 26.5 40.95L40.5 32.87C40.6539 32.7828 40.7819 32.6563 40.871 32.5035C40.96 32.3506 41.007 32.1769 41.007 32C41.007 31.8231 40.96 31.6494 40.871 31.4965C40.7819 31.3437 40.6539 31.2172 40.5 31.13ZM27 38.35V25.65L38 32L27 38.35Z", fill="currentColor")
                                    div(class="relative overflow-hidden rounded-7xl")
                                        img(src="flex-ui-assets/images/headers/placeholder-video.png")
                                        video(class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 min-h-full min-w-full max-w-none", poster="flex-ui-assets/images/testimonials/video-frame.jpeg", muted="")
                                            source(src="https://static.shuffle.dev/files/video-placeholder.mp4", type="video/mp4")
        script(src="https://cdn.jsdelivr.net/npm/apexcharts")
        script(src="js/charts-demo.js")
